@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins';
}

.color-text {
    color: #000000;
}
.color-text2{
    color: #FFFFFF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 39px 0 39px 0;
}

.logo {
    background-color: #1EA59A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.social-networks {
    display: flex;
    gap: 24px;
}

.backraund-img {
    position: relative;
    height: 820px;
    background-image: url(img/Hero\ Image.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap:32px;
    margin-top: 150px;
}

.hero-section p{
    font-size: 24px;
    font-weight: 300;
}

.hero-section h1{
    font-size: 90px;
    font-weight: 600;
    line-height: 100px;
}

.btn-work-with-us {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}