@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    position: relative;
    height: 100vh;
    background-image: url(img/Hero\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins';
}

:root {
    --color: #1EA59A;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 39px 0 39px 0;
}

.logo {
    background-color: var(--color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.social-networks {
    display: flex;
    gap: 24px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    margin-top: 120px;
}

.color-text {
    color: #FFFFFF;
}

.hero-section p {
    font-size: 24px;
    font-weight: 400;
}

.hero-section h1 {
    font-size: 130px;
    font-weight: 600;
    line-height: 140px;
}

.btn {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
}

.hero-button {
    display: flex;
    gap: 48px;
}

.btn-about-us {
    background: transparent;
    border: 2px solid #FFFFFF;
}

.btn-work-with-us {
    background-color: var(--color);
}